:root {
    --cinza_nunes: #f4f4f4;
    --cinza_texto: #555;
    --azul: rgba(175, 19, 206, 0.849);
    --verde: #2733d4;
    --branco: #fff;
}

header {
    background: linear-gradient(90deg, var(--azul), var(--verde));
    color: var(--branco);
    text-align: center;
    /*centralizado*/
    padding: 40px 0;
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.2)
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(233, 230, 230);
    margin: 0;
    padding: 0;
}

.galeria {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 50px;
    padding: 20px;
}

.jogo {
    background-color: white;
    width: 300;
    height: 300;
    border-radius: 10px;
    box-shadow: 0.2 black (0, 0, 0 0.2);
    transition: transforme 0, 3s;

}

.jogo:hover {
    transform: scale(1.05)
}

img {
    border-radius: 16px;
}